{% zone "HeadMeta" %}
	<title>{{Site.SiteName}} - {{Model.ContentItem.Content.TitlePart.Title}}</title>
{% endzone %}

{% if Model.ContentItem.Content.LocalizationPart.Culture == "it-IT" %}
	{% shape "menu", alias: "alias:it-IT-site-menu", alternate: "Menu__Sticky" %}
{% endif %}

{% if Model.ContentItem.Content.LocalizationPart.Culture == "en-US" %}
	{% shape "menu", alias: "alias:en-US-site-menu", alternate: "Menu__Sticky" %}
{% endif %}


<div class="main main-raised" id="main" style="margin-top: 90px;">
	<div class="container-fluid">
			{{ Model.Content.BagPart | shape_render }}
	</div>
</div>