<!doctype html>
<html lang="{{ Culture.Name }}">
	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		{% assign userAgent = Request.Headers.User-agent%}

		{% assign stringParts = Request.Headers.User-agent | split: "Google" %}
		{% if stringParts.size == 1 %}
			<script>
				YETT_BLACKLIST = [/www\.googletagmanager\.com/,/pagead2\.googlesyndication\.com/]
			</script>
			{% script name:"TheMathesisTheme-Cookie-Consent", at:"Foot" %}
			{% script name:"TheMathesisTheme-yett", at:"Head" %}
		{% endif %}

		{% render_section "HeadMeta", required: false %}

		{% style name:"TheMathesisTheme-Roboto" %}
		{% style name:"TheMathesisTheme-Roboto-Slab" %}
		{% style name:"TheMathesisTheme-Material-Icons" %}
		{% style name:"TheMathesisTheme-Montserrat" %}
		{% style name:"TheMathesisTheme-Droid-Serif" %}
		{% style name:"TheMathesisTheme-Font-Awesome" %}

		{% style name:"TheMathesisTheme-Material-Kit" %}
		{% style name:"TheMathesisTheme-Mathesis-Kit" %}


		{% script name:"TheMathesisTheme-js-cookies", at:"Foot" %}
		{% script name:"TheMathesisTheme-jQuery", at:"Foot" %}
		{% script name:"TheMathesisTheme-Popper", at:"Foot" %}
		{% script name:"TheMathesisTheme-Bootstrap-Material", at:"Foot" %}
		{% script name:"TheMathesisTheme-Material-Kit-Script", at:"Foot" %}

		{% resources type: "HeadScript" %}
		{% resources type: "HeadLink" %}
		{% resources type: "Stylesheet" %}
	</head>
	<body id="page-top" dir="{{ Culture.Dir }}">

		{% render_section "Header", required: false %}
		{% render_section "Content" %}
		{% render_section "Footer", required: false %}

		{% resources type: "FootScript" %}
		{% render_section "FooterSpy", required: false %}

	</body>
</html>